mixin header()
    header(class="header")
        div(class="red_line")
            nav(class="container")
                div(class="topnav" id="myTopnav")
                    a(href="#" id="menu" class="icon")
                        img(src="assets/img/menu.png")

                    a(href="#") НА ГЛАВНУЮ
                    a(href="#") О КОМПАНИИ
                    a(href="#") КАТАЛОГ ПРОДУКЦИИ
                    a(href="#") АКЦИИ
                    a(href="#") ГАРАНТИЯ
                    a(href="#") КОНТАКТЫ

                div(class="right_side")
                    div(class="cart")
                        div(class="cart_img")
                            img(src="assets/img/cart.png")
                        div(class="cart_text")
                            | Товаров: 3
                            p
                            | Сумма: 5.000 грн.

                    div(class="local")
                        div.local_item
                            div.local_item_ru ru

                        div.local_item
                            div.local_item_ua ua

                    div(class="search")
                        input(type="search" placeholder="Поиск")
                        input(type="image" src="../assets/img/search.png")

        div(class="bgTop")

            div(class="logo_panel container")
                div(class="logo_panel_left")
                    div(class="logo_panel_left_registration")
                        div(id="login")
                            a(href="#") Войти на сайт
                        div(id="registration")
                            a(href="#") Зарегистрироваться

                    div(class="logo_panel_left_socialIcon")
                        a(href="#")
                            img(src="assets/img/twitter.png")
                        a(href="#")
                            img(src="assets/img/vk.png")
                        a(href="#")
                            img(src="assets/img/facebook.png")
                        a(href="#")
                            img(src="assets/img/rss.png")
                        a(href="#")
                            img(src="assets/img/google.png")

                    div(class="logo_panel_left_cart")
                        div(class="logo_panel_left_cart_img")
                            img(src="assets/img/cart2.png")
                        div(class="logo_panel_left_cart_text")
                            div(class="logo_panel_left_cart_text_big") Корзина
                            div(class="logo_panel_left_cart_text_small")
                                | Товаров: 3
                                p Сумма: 5.000 грн.

                div(class="logo_panel_center")
                    img(src="assets/img/logo.png")
                    div(class="logo_panel_center_text") nakitel

                div(class="logo_panel_right")
                    div(class="logo_panel_right_phone")
                        | Телефон горячей линии #[br]
                        span(class="big_number") +12(034) 567 89 10 #[br]
                        | (пн.- пт. с 9.00 до 18.00)
                    div(class="logo_panel_right_call")
                        div(class="logo_panel_right_call_text1") ВЫЗВАТЬ
                        div(class="logo_panel_right_call_text2") ЗАМЕРЩИКА

            div(class="door_panel container")
                div(class="door")
                    div(class="door_img")
                        img(src="../assets/img/door1.png")
                    div(class="door_text1") ДВЕРИ
                    div(class="door_text2") ШПОНИРОВАННЫЕ

                div(class="door")
                    img(src="../assets/img/door2.png")
                    div(class="door_text1") ДВЕРИ
                    div(class="door_text2") ЭКОШПОН

                div(class="door")
                    img(src="../assets/img/door3.png")
                    div(class="door_text1") ДВЕРИ
                    div(class="door_text2") ИЗ МАССИВА

                div(class="door")
                    img(src="../assets/img/door4.png")
                    div(class="door_text1") ДВЕРИ
                    div(class="door_text2") ВХОДНЫЕ

                div(class="door")
                    img(src="../assets/img/door5.png")
                    div(class="door_text1") ДВЕРИ
                    div(class="door_text2") СПЕЦ НАЗНАЧЕНИЯ


