@font-face {
  font-family: Helvetica Neue;
  src: url("../assets/fonts/HelveticaNeueCyr-Light.otf");
}

@font-face {
  font-family: Bebas Neue Bold;
  src: url("../assets/fonts/BebasNeueBold.ttf");
}